{% extends "freshApp/base.html" %}

{% block title %}
    添加商品
{% endblock %}

{% block content %}
    <form class="form" method="post" enctype="multipart/form-data">
        <div>
        {% csrf_token %}
        </div>
        <div class="form-group">
            <input type="text" class="form-control form-control-user" placeholder="商品名称" name="goods_name">
        </div>
        <div class="form-group">
            <input type="text" class="form-control form-control-user" placeholder="商品价格" name="goods_price">
        </div>
        <div class="form-group">
            <input type="text" class="form-control form-control-user" placeholder="商品数量库存" name="goods_number">
        </div>
        <div class="form-group">
            <input type="text" class="form-control form-control-user" placeholder="商品描述" name="goods_description">
        </div>
        <div class="form-group">
            <input type="text" class="form-control form-control-user" placeholder="出厂日期" name="goods_date">
        </div>
        <div class="form-group">
            <input type="text" class="form-control form-control-user" placeholder="保质期(月)" name="goods_safeDate">
        </div>
        <div class="form-group">
            <input type="file" class="form-control form-control-user" placeholder="商品图片" name="goods_image">
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary btn-block" value="添加">
        </div>
        <div class="form-group">
            <input class="form-control form-control-user" type="hidden" name="goods_store" value="{{ request.COOKIES.has_store }}">
        </div>

    </form>
{% endblock %}

{% block style %}
    <!-- Page level plugins -->
  <script src="/static/freshApp/vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/static/freshApp/js/demo/chart-area-demo.js"></script>
  <script src="/static/freshApp/js/demo/chart-pie-demo.js"></script>
{% endblock %}
